html {
    font-family: helvetica, sans-serif;
    font-size: 18px;
}

head {
    margin-left: 1rem;
}

body {
    margin-left: 2rem;
}


h1 {
    font-family: georgia, serif;
    font-size: 2rem;
    color: #fff;
    margin: 0;
    padding: 0.75em 0.25em;
    background: #2c2c2c;
    line-height: 1.1em;
}

p {
    color: black;
    padding: 0.75em 0.25em;
    background: #dbe09a;
}

h4 {
    font-family: georgia, serif;
    font-size: 2.5rem;
    color: red;
}

ul {
    padding: 1;
    margin-left: -1rem;
}

.ordered-list {
    padding: 1;
    font-size: rem;
}

li {
    list-style-type: none;
    font-weight: bold;
    font-size: 3rem;
    position: relative;
}

.mx {
    font-size: 1rem;
    color: black;
    list-style-type:decimal-leading-zero;
    padding-left: 1rem;
    margin-left: rem;
}

li:focus {
    border: 10px solid blue;
}

a:visited {
    border: 10px solid red;
}

span {
    position: absolute;
    top: 10px;
    right: 10px;
    color: ivory;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

ul {
    /* autoprefixer: off */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 350px;
    grid-auto-flow: dense;
    grid-gap: 1em;
    margin: 2em;
}

li.highlight-box {
    background-color: lightcoral;
    grid-row: span 2;
    grid-column: span 2;
}

li.highlight-tall {
    background-color: lightgreen;
    grid-row: span 2;
}

li.highlight-wide {
    background-color: lightgoldenrodyellow;
    grid-column: span 2;
}

img {
    display: block;
    -o-object-fit: cover;
    object-fit: contain;
    height: 98%;
    border: 1px solid black;
    -webkit-box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}


.warning {
    color: red;
    font-size: 200%;
}

@supports (display: grid) {
    .warning {
        display: none;
    }
}